body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-collapse {
  flex-grow: 0;
}

#header {
  background: url("photos/diego-jimenez-258120-unsplash.jpg") center center / cover no-repeat;
}

.main-content {
  background-color: #fffcf7;
}

.btn {
  text-transform: uppercase;
}
/*
ul {
  margin: 0 auto;
  padding: 0;
  font-size: 1.2em;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
  color: #fff;
}*/

@media (min-width: 1000px) {
  ul {
    max-width: 700px;
  }
}


img {
  max-height: 250px;
  width: auto;
}
