body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

.navbar-collapse {
  flex-grow: 0;
}

#header {
  background: url("photos/diego-jimenez-258120-unsplash.jpg") center center / cover no-repeat;
}


@media (min-width: 1000px) {
  ul {
    max-width: 700px;
  }
}


img {
  max-height: 250px;
  width: auto;
}
